nameOverride: "crossplane"

replicas: 1

deploymentStrategy: RollingUpdate

image:
  repository: crossplane/crossplane
  tag: %%CROSSPLANE_TAG%%
  pullPolicy: Always

nodeSelector: {}
tolerations: {}
affinity: {}

leaderElection: true
args: {}

provider:
  packages: []

configuration:
  packages: []

imagePullSecrets:
  - dockerhub

rbacManager:
  deploy: true
  skipAggregatedClusterRoles: true
  replicas: 1
  managementPolicy: Basic
  leaderElection: true
  args: {}
  nodeSelector: {}
  tolerations: {}
  affinity: {}

priorityClassName: ""

resourcesCrossplane:
  limits:
    cpu: 100m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

securityContextCrossplane:
  runAsUser: 2000
  runAsGroup: 2000
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true

packageCache:
  medium: ""
  sizeLimit: 5Mi
  pvc: ""

resourcesRBACManager:
  limits:
    cpu: 100m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

securityContextRBACManager:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true

alpha:
  oam:
    enabled: false

metrics:
  enabled: false

### Agent Values

upbound:
  apiURL: "https://api.upbound.io"
  connectHost: "connect.upbound.io"
  controlPlane:
    permission: View
    token: ""


graphql:
  image:
    repository: upbound/crossplane-graphql
    tag: %%GRAPHQL_TAG%%
    pullPolicy: IfNotPresent
  resources: {}
  config:
    nodeEnv: production
    # The default maximum number of concurrent requests to the upbound agent
    maxK8sConnections: 10

xgql:
  image:
    repository: upbound/xgql
    tag: %%XGQL_TAG%%
    pullPolicy: IfNotPresent
  resources: {}
  metrics:
    enabled: false
  config:
    debugMode: false
    args: []

agent:
  image:
    repository: upbound/upbound-agent
    tag: %%AGENT_TAG%%
    pullPolicy: IfNotPresent
  resources: {}
  config:
    debugMode: false
    args: []

### Bootstrapper Values

bootstrapper:
  image:
    repository: upbound/uxp-bootstrapper
    tag: %%BOOTSTRAPPER_TAG%%
    pullPolicy: IfNotPresent
  resources: {}
  config:
    debugMode: false
    args: []