upbound:
  apiURL: https://{{ .Env.UPBOUND_API_ENDPOINT }}
  connectHost: {{ .Env.UPBOUND_CONNECT_ENDPOINT}}
  controlPlane:
    {{ if eq (env.Getenv "LOCALDEV_CONNECT_TO_UBC" "") "true" }}
    connect: true
    {{ else }}
    connect: false
    {{ end }}

agent:
  config:
    debugMode: true

xgql:
  config:
    debugMode: true
    args:
      - --enable-playground
