# values for dev
upbound:
  apiURL: http://api-auth.upbound-system:8080
  #connectEndpoint: {{ .Env.UPBOUND_CONNECT_ENDPOINT }}
  connectHost: "nats.nats-system.svc.cluster.local"
  connectPort: "4222"
  controlPlane:
    {{ if eq (env.Getenv "LOCALDEV_CONNECT_TO_UBC" "") "true" }}
    connect: true
    {{ else }}
    connect: false
    {{ end }}
