apiVersion: v1alpha1
kind: ClusterServiceVersion
metadata:
  creationTimestamp: null
  annotations:
    operatorframework.io/suggested-namespace: upbound-system
    operatorframework.io/initialization-resource: |
      apiVersion: v1
      kind: Secret
      metadata:
        name: upbound-control-plane-token
        namespace: upbound-system
      type: Opaque
      data:
        token: "Output of `up cloud controlplane attach | base64` command"
    operators.operatorframework.io/internal-objects: '["locks.pkg.crossplane.io"]'
    capabilities: Seamless Upgrades
    categories: "Application Runtime, Cloud Provider, Database, Integration & Delivery, Networking, Storage"
    containerImage: upbound/uxp-bootstrapper
    createdAt: "2021-05-18T00:00:00+0000"
    support: Upbound Inc.
    repository: https://github.com/upbound/universal-crossplane
    description: Upbound Universal Crossplane (UXP) is Upbound's official enterprise-grade distribution of Crossplane.
    alm-examples: |-
      [
        {
           "apiVersion": "pkg.crossplane.io/v1",
           "kind": "Configuration",
           "metadata": {
              "name": "xp-getting-started-with-aws"
           },
           "spec": {
              "package": "registry.upbound.io/xp/getting-started-with-aws:v1.3.0"
           }
        }
      ]
spec:
  displayName: Upbound Universal Crossplane (UXP)
  minKubeVersion: 1.16.0
  maturity: stable
  installModes:
    - supported: false
      type: OwnNamespace
    - supported: false
      type: SingleNamespace
    - supported: false
      type: MultiNamespace
    - supported: true
      type: AllNamespaces
  provider:
    name: Upbound Inc.
    url: https://upbound.io
  links:
    - name: GitHub
      url: https://github.com/upbound/universal-crossplane
    - name: Website
      url: https://upbound.io
    - name: Twitter
      url: https://twitter.com/upbound_io
    - name: Slack
      url: https://slack.crossplane.io/
  # TODO(muvaf): Consider copying this from README automatically, preserving the
  # indentation.
  # NOTE(muvaf): Preview your changes using https://operatorhub.io/preview
  description: |
    ## Overview

    Upbound Universal Crossplane (UXP) is [Upbound's][upbound] official
    enterprise-grade distribution of [Crossplane][crossplane]. It's fully compatible
    with upstream Crossplane, open source, capable of connecting to Upbound Cloud
    for real-time dashboard visibility, and maintained by Upbound. It's the easiest
    way for both individual community members and enterprises to build their
    production control planes.

    ## Quick Start

    1. Install the [Upbound CLI][upbound-cli].
        ```console
        curl -sL https://cli.upbound.io | sh
        # Install with Homebrew
        brew install upbound/tap/up
        ```

    2. [Create an Upbound account][create-account] for a free dashboard for UXP.

    3. Connect UXP to Upbound Cloud.
        ```console
        # The name of your new UXP control plane.
        UXP_NAME=mycrossplane

        up cloud login
        up cloud controlplane attach ${UXP_NAME} | up uxp connect -
        ```

    4. Manage your UXP control plane by [signing in][login] to your Upbound account.

    ## Additional Resources

    - The [UXP Documentation][uxp-documentation] provides additional information
      about UXP and resources for developers, like examples.
    - The [developer guide][developer-guide] describes how to build and run UXP
      locally from source.
    - [UXP Slack][uxp-slack] is where you can go to get all of your UXP questions
      answered.

    [upbound]: https://upbound.io
    [crossplane]: https://crossplane.io/
    [upbound-cli]: https://github.com/upbound/up
    [create-account]: https://cloud.upbound.io/register
    [login]: https://cloud.upbound.io/login
    [uxp-documentation]: https://cloud.upbound.io/docs/uxp
    [developer-guide]: https://github.com/upbound/universal-crossplane/blob/main/docs/developer-guide.md
    [uxp-slack]: https://crossplane.slack.com/archives/upbound
