nameOverride: "crossplane"

replicas: 1

deploymentStrategy: RollingUpdate

image:
  repository: crossplane/crossplane
  tag: v1.1.0
  pullPolicy: Always

nodeSelector: {}
tolerations: {}
affinity: {}

leaderElection: true
args: {}

provider:
  packages: []

configuration:
  packages: []

imagePullSecrets:
  - dockerhub

rbacManager:
  deploy: true
  replicas: 1
  managementPolicy: All
  leaderElection: true
  args: {}
  nodeSelector: {}
  tolerations: {}
  affinity: {}

priorityClassName: ""

resourcesCrossplane:
  limits:
    cpu: 100m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

securityContextCrossplane:
  runAsUser: 2000
  runAsGroup: 2000
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true

packageCache:
  medium: ""
  sizeLimit: 5Mi
  pvc: ""

resourcesRBACManager:
  limits:
    cpu: 100m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

securityContextRBACManager:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true

alpha:
  oam:
    enabled: false

metrics:
  enabled: false

### Agent Values

jwtPublicKey: ""

upbound:
  apiEndpoint: "https://api.upbound.io"
  connectEndpoint: "nats://connect.upbound.io:443"
  controlPlane:
    create: true
    name: ""
    organization: ""
    apiToken: ""

graphql:
  image:
    repository: upbound/crossplane-graphql
    tag: "v0.25.0-alpha1.26.g63124dc-version-hack-1"
    pullPolicy: IfNotPresent
  resources: {}
  config:
    nodeEnv: production
    # The default maximum number of concurrent requests to the tenant gateway
    maxK8sConnections: 10

gateway:
  image:
    repository: upbound/crossproxy
    tag: v0.25.0-alpha1.54.g74ad71e
    pullPolicy: IfNotPresent
  resources: {}
  config:
    debugMode: false
    platformTokenSecret: platform-token
    args: []
