name: Push Validation

on:
  pull_request: {}
  workflow_dispatch: {}

env:
  # Common versions
  GO_VERSION: '1.16'
  GOLANGCI_VERSION: 'v1.31'
  DOCKER_BUILDX_VERSION: 'v0.4.2'
  DOCKER_USR: ${{ secrets.DOCKER_USR }}

jobs:
  detect-noop:
    runs-on: ubuntu-18.04
    outputs:
      noop: ${{ steps.noop.outputs.should_skip }}
    steps:
      - name: Detect No-op Changes
        id: noop
        uses: fkirc/skip-duplicate-actions@v2.1.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          paths_ignore: '["**.md", "**.png", "**.jpg"]'
          do_not_skip: '["workflow_dispatch", "schedule", "push"]'
          concurrent_skipping: false

  e2e:
    runs-on: ubuntu-18.04
    needs: detect-noop
    if: needs.detect-noop.outputs.noop != 'true'

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      # TODO(turkenh): remove once there is no private dependency (e.g. nats-proxy)
      - name: Granting private modules access
        run: |
          git config --global url."https://${{ secrets.UPBOUND_BOT_GITHUB_TOKEN }}:x-oauth-basic@github.com/upbound".insteadOf "https://github.com/upbound"

      - name: Fetch History
        run: git fetch --prune --unshallow

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Find the Go Build Cache
        id: go
        run: echo "::set-output name=cache::$(go env GOCACHE)"

      - name: Cache the Go Build Cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.go.outputs.cache }}
          key: ${{ runner.os }}-build-unit-tests-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-build-unit-tests-

      - name: Cache Go Dependencies
        uses: actions/cache@v2
        with:
          path: .work/pkg
          key: ${{ runner.os }}-pkg-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-pkg-

      - name: Login to Docker
        uses: docker/login-action@v1
        if: env.DOCKER_USR != ''
        with:
          username: ${{ secrets.DOCKER_USR }}
          password: ${{ secrets.DOCKER_PSW }}

      - name: Push Validation Tests
        run: make e2e
        env:
          LOCALDEV_UBC_PERMISSION: edit
          LOCALDEV_CONNECT_CLEANUP: true
          LOCALDEV_CONNECT_CP_ORG: crossplane
          LOCALDEV_CONNECT_CP_NAME: uxp-pushval-${{ github.run_id }}-${{ github.run_number }}
          LOCALDEV_CONNECT_API_TOKEN: ${{ secrets.LOCALDEV_CONNECT_API_TOKEN }}
          UPBOUND_API_ENDPOINT: ${{ secrets.UPBOUND_API_ENDPOINT }}
          UPBOUND_CONNECT_ENDPOINT: ${{ secrets.UPBOUND_CONNECT_ENDPOINT }}
          UPBOUND_PROXY_ENDPOINT: ${{ secrets.UPBOUND_PROXY_ENDPOINT }}